* {
         margin: 0;
         padding: 0;
         color: #2b2a2a;
         box-sizing: border-box;
}

i {
         font-style: normal;
}

body {
         background: #f0f0f0;
}

a {
         text-decoration: none;
         color: inherit;
}

a:focus {
         outline: none;
         border-bottom: 3px solid #abf107;
}

ul,
li {
         list-style: none;
         margin: 0;
         padding: 0;
}

.elementWith {
         width: 1200px;
}